<%= form_with model: @user, url: user_registration_path, class: "registration-main", local: true do |f| %>
  <div class="form-wrap">
    <div class="form-header">
        <%= link_to 'Welcome to B-blog!', root_path, class:"form-header-text" %>
    </div>

  <%# render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">User Name</label>
    </div>
    <%= f.text_field :name, class:"input-default", id: "user_name", placeholder:"blogさん" %>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">Profile</label>
    </div>
    <%= f.text_area :profile, class:"input-default", id:"user_profile", placeholder:"Please introduce yourself" %>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">Email</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email",placeholder:"sample@sample.com", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">Password</label>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6 characters minimum", autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">Confirm Password</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"Reenter password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"register-btn" %>
  </div>
  </div>
<% end %>

<%# render "devise/shared/links" %>
