<div class="title">
<ul class="top-botton">
    <% if user_signed_in? %>
    <li><%= link_to current_user.name, user_path(current_user.id), class:"user-name" %></li>
    <li><%= link_to 'New Article', new_article_path, class:"new-article" %></li>
    <% else %>
    <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <% end %>
  </ul>
  <div class="title-content">B-blog</div>
</div>

<div class="main">
  <% @articles.each do |article| %>
  <li class="list">
    <%= link_to article_path(article.id), class:"article-index-name", method: :get do %>
    <div class="article-img-content">
      <%= image_tag article.image, class:"article-img"%>
    </div>
    <div class="article-info">
      <div class="article-index-name">
        <%= article.title%>
      </div>
      <div class="article-index-name">
        <%= article.category.name%>
      </div>
    </div>
    <% end %>
  </li>
  <% end %>
</div>