<div class="title">
  <ul class="top-botton">
    <% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"logout"%></li>
    <% end %>
  </ul>
  <div class="box">
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class="my-header-title">
      <%= link_to 'B-blog', root_path, class:"my-header-text" %>
    </div>
  </div>
</div>

<div class="second-header">
  My Page
  <div class="second-header-box">
    <div class="second-header-text">
      <%= @user.name %>
    </div>
    <div class="contents-row">
      <% @articles.each do |article| %>
      <%= link_to article_path(article.id), class:"article-index-name", method: :get do %>
        <%= image_tag article.image, class:"article-img" %>
        <h1 class="article-my-name">
          <%= article.title%>
        </h1>
        <h1 class="article-my-name">
          <%= article.category.name%>
        </h1>
      <% end %>
      <% end %>
  </div>
</div>