<%= form_with model:@user, url: user_session_path, class:"registration-main", local: true do |f| %>
<div class="form-wrap">
    <div class="form-header">
      <%= link_to 'Welcome to B-blog!', root_path, class:"form-header-text" %>      
    </div>
    <div class="login-flash-message">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">Email</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"sample@sample.com", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">Password</label>
      </div>
      <%= f.password_field :password, class:"input-default", id: "password", placeholder:"6 characters minimum", autocomplete: "current-password" %>
    </div>

  <%# <% if devise_mapping.rememberable? %>
    <%# <div class="field">
      <%= f.check_box :remember_me %>
      <%# <%= f.label :remember_me %>
    <%# </div>
  <% end %>

  <div class="action">
    <%= f.submit "Log in", class: "main-btn" %>
  </div>
<% end %>
</div>

<%# render "devise/shared/links" %>
